.Element {
    width: 75%;
    border: 1px solid #282C34;
    box-shadow: 0 2px 3px #C7C6C6;
    padding: 10px;
    margin: 10px auto;
    box-sizing: border-box;
}

.Username {
    color: #61DAFB;
    font-size: 1.2em;
    font-weight: bold;
}

.BioTitle {
    color: #282C34;
    font-size: 1.2em;
}

.Bio {
    color: #33373E;
    font-size: 1.1em;
    font-style: italic;
}

.Avatar {
    size: 20px;
    float: left;
    display: inline-block;
    vertical-align: top;
}