.Dropdown {
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
    text-align: center;
    margin-bottom: 0;
    color: white;
}

.Dropdown p {
    color: white;
}

.Dropdown p:hover,
.Dropdown p:active,
.Dropdown p.active {
    color: #61DAFB;
}

.DropdownElement {
    display: inline-block;
}