# dependencies
/structured/node_modules
/backend/server/node_modules
/backend/reactive-model/node_modules

# testing
strucured/coverage

# production
strucured/build

# misc
strucured/.DS_Store
strucured/.env.local
strucured/.env.development.local
strucured/.env.test.local
strucured/.env.production.local

strucured/npm-debug.log*
strucured/yarn-debug.log*
strucured/yarn-error.log*
