{
	"extends": ["eslint:recommended", "plugin:prettier/recommended"],
	"env": {
		"browser": false,
		"es6": true,
		"node": true
	},
	"parser": "babel-eslint",
	"rules": {
		"prettier/prettier": [
			"error",
			{
				"singleQuote": false
			}
		],
		"no-console": "off",
		"indent": ["4", "tab", { "SwitchCase": 1 }]
	}
}
