.react-draggable, .cursor {
    cursor: move;
}
.no-cursor {
    cursor: auto;
}
.cursor-y {
    cursor: ns-resize;
}
.cursor-x {
    cursor: ew-resize;
}

.react-draggable {
    font-family: Consolas, monospace;
    font-size: 1.3em;
    background: #ffffff;
    opacity: 0.9;
    border: 1px solid #152434;
    box-shadow: 2px 2px 3px 2px #7d7d7d;
    display: block;
    text-align: left;
    position: absolute;
    top: 30%;
    left: 5%;
    -webkit-animation: fadein 1s;
    -moz-animation: fadein 1s;
    -ms-animation: fadein 1s;
    -o-animation: fadein 1s;
    animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.8; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.8; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.8; }
}

@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.8; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.8; }
}