.Button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    margin: 10px;
    font-weight: bold;
}

.Button:disabled {
    color: #C7C6C6;
    cursor: not-allowed;
}

.Success{
    display: inline-block;
    padding: 10px 30px;
    margin: 20px 0;
    position: relative;
    border: 2px solid #34495e;
    color: #34495e;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.Success:before, .Success:after{
    content: "";
    z-index: -1;
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: -50%;
    background-color: #34495e;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.Success:after{
    left: 100%;
}

.Success:hover{
    color: #ecf0f1;
}

.Success:hover:before{
    left: 0;
}

.Success:hover:after{
    left: 50%;
}

.Danger{
    display: inline-block;
    padding: 10px 30px;
    margin: 20px 0;
    position: relative;
    border: 2px solid #5a000e;
    color: #5a000e;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.Danger:before, .Danger:after{
    content: "";
    z-index: -1;
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: -50%;
    background-color: #5a000e;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.Danger:after{
    left: 100%;
}

.Danger:hover{
    color: #ecf0f1;
}

.Danger:hover:before{
    left: 0;
}

.Danger:hover:after{
    left: 50%;
}

.Flat {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #A5A5A5;
    margin: 10px 10px;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    color: #979797;
    text-align: center;
    transition: all 0.2s;
}

.Flat:hover{
     color: #626262;
     background-color: #c6c6c6;
 }