.control-bar {
    width: 100%;
    text-align: center;
    padding: 15px 0;
    background-color: #222;
    position: fixed;
    bottom: 0;
}

.control-bar__btn {
    display: inline-block;
    margin: 0 20px;
    color: #CCC;
    cursor: pointer;
}

.control-bar__btn:hover {
    color: #FFF;
}
