.Logger {
    font-size: 1.1em;
    font-family: Consolas, monaco, monospace;
    float: left;
    width: auto;
}

.holder {
    line-height: 1.6em;
}

span.node {
     background: #33373E;
     border-radius: 0.8em;
     -moz-border-radius: 0.8em;
     -webkit-border-radius: 0.8em;
     color: #ffffff;
     display: inline-block;
     font-weight: bold;
     line-height: 1.6em;
     margin-right: 10px;
     text-align: center;
     width: 1.6em;
 }

span.selected {
    background: #61DAFB;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 1.6em;
    margin-right: 10px;
    text-align: center;
    width: 1.6em;
}

span.watched {
    background: #bf00ff;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 1.6em;
    margin-right: 10px;
    text-align: center;
    width: 1.6em;
}

span.adjacent {
    background: #D6DB59;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 1.6em;
    margin-right: 10px;
    text-align: center;
    width: 1.6em;
}