.Container {
    border: 1px solid #d1d1d1;
    float:left;
}

.Crosshair {
    cursor: crosshair;
}

.Node circle {
    fill: #a5a5a5;
    stroke: #d1d1d1;
    stroke-width: 2.5px;
}

.Node text {
    fill: #282C34;
    stroke: none;
    font-size: .7em;
}

.Adjacent circle {
    fill: #d6db59;
    stroke: #faffc5;
}

.Adjacent text {
    fill: #5a5e27;
}

.Clicked circle {
    fill: #bf00ff;
    stroke: #e6b8ff;
}

.Clicked text {
    fill: #ea00ff;
}

.Visited circle {
    fill: #5c585e;
    stroke: #858284;
}

.Visited text {
    fill: #5c585e;
}

.Focused circle {
    fill: #4cbadb;
    stroke: #bfeeff;
}

.Focused text {
    fill: #005a94;
}

.Selected circle {
    fill: #4cbadb;
    stroke: #bfeeff;
}

.Selected text {
    fill: #005a94;
}

.Unfocused circle {
    opacity: 0.40;
}

.Unfocused text {
    opacity: 0.40;
}

.Edge {
    stroke: #cccccc;
    stroke-opacity: .6;
}

.Unfocused {
    stroke-opacity: .3;
}

.Focused {
    stroke: #4cbadb;
}

.Selected {
    stroke: #4cbadb;
}

.Clicked {
    stroke: #e6b8ff;
}